[Bb]in/
[Oo]bj/
[Ll]og/
*.log

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

#ignore compiled shaders
*.spv

# Rider IDE
.idea/

#binary files
*.bin
*.txt

app/src/platform/wayland/

assets/fonts/*.png
assets/fonts/*.font_data

# Build configuration files
*.VC.db
*.VC.VC.opendb

# Backup & crash files
*.bak
*.tmp
*.cache
*.pidb
*.svclog

# NUGET
*.nupkg
packages/
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# dotnet CLI
project.assets.json
*.csproj.user

# Others
*.dbmdl
*.pdb
*.mdb

# OS files
.DS_Store
Thumbs.db

